{% extends "layout.html.twig" %}

{% block page_title %} Inscription {% endblock %}

{% block breadcrumb %}
    {{ render(controller('AppBundle:Zenna\\Zenna:breadcrumb', {
        'title' : 'Inscription'
    })) }}
{% endblock %}

{% block content %}

    <div class="row mt-50 mb-50">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">Je crée mon compte !</h2>

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form(form) }}

        </div>
    </div>

{% endblock %}