<!-- Newsletter -->
<section class="newsletter" id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>Ma newsletter Zenna</h4>
                <form class="relative newsletter-form">
                    <input type="email" class="newsletter-input" placeholder="Entrez votre e-mail...">
                    <input type="submit" class="btn btn-lg btn-dark newsletter-submit" value="M'abonner">
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer Type-1 -->
<footer class="footer footer-type-1">
    <div class="container">
        <div class="footer-widgets">
            <div class="row">

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="widget footer-about-us">
                        <img src="{{ asset('img/logo_dark.png') }}" alt="" class="logo">
                        <p class="mb-30">Zenna Boutique, des vêtements, de la Mode.</p>
                        <div class="footer-socials">
                            <div class="social-icons nobase">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end about us -->

                <div class="col-md-2 col-md-offset-1 col-sm-6 col-xs-12">
                    <div class="widget footer-links">
                        <h5 class="widget-title bottom-line left-align grey">E-Shopping</h5>
                        <ul class="list-no-dividers">
                            <li><a href="#">Mon Compte</a></li>
                            <li><a href="#">Mes Commandes</a></li>
                            <li><a href="#">Retour</a></li>
                            <li><a href="#">Livraison</a></li>
                            <li><a href="#">Paiement Sécurisé</a></li>
                            <li><a href="#">Aide</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="widget footer-links">
                        <h5 class="widget-title bottom-line left-align grey">Entreprise</h5>
                        <ul class="list-no-dividers">
                            <li><a href="#">Découvrir Zenna</a></li>
                            <li><a href="#">Les Boutiques</a></li>
                            <li><a href="#">Affiliation</a></li>
                            <li><a href="#">Distributeur</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="widget footer-links">
                        <h5 class="widget-title bottom-line left-align grey">Services</h5>
                        <ul class="list-no-dividers">
                            <li><a href="#">E-Reservation</a></li>
                            <li><a href="#">E-Cadeau</a></li>
                            <li><a href="#">Fidélité</a></li>
                            <li><a href="#">Service en boutique</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="widget footer-links">
                        <h5 class="widget-title bottom-line left-align grey">Informations</h5>
                        <ul class="list-no-dividers">
                            <li><a href="#">Mentions Légales</a></li>
                            <li><a href="#">CGV Produits</a></li>
                            <li><a href="#">Confidentialité</a></li>
                            <li><a href="#">Cookie</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Plan du Site</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->

    <div class="bottom-footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 copyright sm-text-center">
                <span>
                  &copy; 2018 Zenna Mode
                </span>
                </div>

                <div class="col-sm-6 col-xs-12 footer-payment-systems text-right sm-text-center mt-sml-10">
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-amex"></i>
                </div>

            </div>
        </div>
    </div> <!-- end bottom footer -->
</footer> <!-- end footer -->

<div id="back-to-top">
    <a href="#top"><i class="fa fa-angle-up"></i></a>
</div>