<div class="nav-cart-outer">
    <div class="nav-cart-inner">
        <a href="#" class="nav-cart-icon">
            0
        </a>
    </div>
</div>
<div class="nav-cart-container">
    <div class="nav-cart-items">

        <div class="nav-cart-item clearfix">
            <div class="nav-cart-img">
                <a href="#">
                    <img src="{{ asset('img/shop/shop_item_1.jpg') }}" alt="">
                </a>
            </div>
            <div class="nav-cart-title">
                <a href="#">
                    Ladies Bag
                </a>
                <div class="nav-cart-price">
                    <span>1 x</span>
                    <span>1250.00 &euro;</span>
                </div>
            </div>
            <div class="nav-cart-remove">
                <a href="#" class="remove"><i class="ui-close"></i></a>
            </div>
        </div>

        <div class="nav-cart-item clearfix">
            <div class="nav-cart-img">
                <a href="#">
                    <img src="{{ asset('img/shop/shop_item_2.jpg') }}" alt="">
                </a>
            </div>
            <div class="nav-cart-title">
                <a href="#">
                    Sequin Suit longer title
                </a>
                <div class="nav-cart-price">
                    <span>1 x</span>
                    <span>1250.00 &euro;</span>
                </div>
            </div>
            <div class="nav-cart-remove">
                <a href="#" class="remove"><i class="ui-close"></i></a>
            </div>
        </div>

    </div> <!-- end cart items -->

    <div class="nav-cart-summary">
        <span>Total</span>
        <span class="total-price">1799.00 &euro;</span>
    </div>

    <div class="nav-cart-actions mt-20">
        <a href="{{ path('zenna_cart') }}" class="btn btn-md btn-dark"><span>Voir mon Panier</span></a>
        <a href="#" class="btn btn-md btn-color mt-10"><span>Commander</span></a>
    </div>
</div>